<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Kuna BTC/UAH</span>
    <span class="example-spacer"></span>
    <button mat-button><mat-icon class="example-icon">favorite</mat-icon></button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card>

  <mat-form-field>
    <input matInput [(ngModel)]="answer" placeholder="Who hes the best dev tutorials? ">
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <br/>
  <button mat-raised-button (click)="showAnswer()">Answer me</button>
  <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
</mat-card>

<mat-card *ngIf="answerDisplay">
  <h1>{{answerDisplay}}, yor dem right.</h1>
</mat-card>
